<div id="colorlib-page">
  <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
  <aside id="colorlib-aside" role="complementary" class="js-fullheight">

    <app-nav></app-nav>

    <div class="colorlib-footer">
      <h1 id="colorlib-logo" class="mb-4"><a href="index.html"
          style="background-image: url(../assets/images/bg_1.jpg);">Behuda <span>Blog</span></a></h1>
      <p class="pfooter">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
          class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </aside> <!-- END COLORLIB-ASIDE -->
  <div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row d-flex">
          <div class="col-xl-8 py-5 px-md-5">

            <!-- Pages goes on here... -->
            <router-outlet>
              <!-- loader -->
              <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                  <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                  <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
                  </svg></div>
            </router-outlet>
            <!-- Pages end... -->

          </div>
          <div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
            <!-- <div class="sidebar-box pt-md-4">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div> -->

            <app-categories></app-categories>

            <app-popular-articles></app-popular-articles>

            <app-tag-cloud></app-tag-cloud>

            <!-- <div class="sidebar-box subs-wrap img py-4" style="background-image: url(../assets/images/bg_1.jpg);">
              <div class="overlay"></div>
              <h3 class="mb-4 sidebar-heading">Newsletter</h3>
              <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email Address">
                  <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                </div>
              </form>
            </div> -->

            <app-archives></app-archives>

          </div><!-- END COL -->
        </div>
      </div>
    </section>
  </div><!-- END COLORLIB-MAIN -->
</div><!-- END COLORLIB-PAGE -->