<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Categories</h3>
    <ul class="categories">
        <li *ngFor="let category of categories"><a href="#">{{category.name}} <span>({{category.articleCount}})</span></a></li>
    </ul>
</div>